<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <servlet-name>hrmsEmployeeServlet</servlet-name>
    <servlet-class>com.kudos.profile.HrmsEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>hrmsApplicantServlet</servlet-name>
    <servlet-class>com.kudos.recruitment.HrmsApplicantServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>hrmsApplicantTestDetailServlet</servlet-name>
    <servlet-class>com.kudos.recruitment.HrmsApplicantTestDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>hrmsUserLoginServlet</servlet-name>
    <servlet-class>com.kudos.login.HrmsUserLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>timeManagementServlet</servlet-name>
    <servlet-class>com.kudos.time.TimeManagementServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>leaveManagementServlet</servlet-name>
    <servlet-class>com.kudos.leave.LeaveManagementServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>hrmsPayrollServlet</servlet-name>
    <servlet-class>com.kudos.payroll.HrmsPayrollServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hrmsEmployeeServlet</servlet-name>
    <url-pattern>/hrmsEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>hrmsApplicantServlet</servlet-name>
    <url-pattern>/hrmsApplicantServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>hrmsApplicantTestDetailServlet</servlet-name>
    <url-pattern>/hrmsApplicantTestDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>hrmsUserLoginServlet</servlet-name>
    <url-pattern>/hrmsUserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>timeManagementServlet</servlet-name>
    <url-pattern>/timeManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>leaveManagementServlet</servlet-name>
    <url-pattern>/leaveManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>hrmsPayrollServlet</servlet-name>
    <url-pattern>/hrmsPayrollServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>jsp/login/hrmsUserLogin.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>